/* generics */
body{
    margin:0;
    
}
.text-gray{
    color:gray;
}
.text-small{
    font-size:12px;
}

.margine{
    margin: 6px;
}

.colonna{
    width:50%;
}

.white{
    background-color:#fff;
}

/* intestazione pagina */
.container {
     background-color: #4ea1ff;
     height: 120px;
     background-image: url('../img/pattern.png');
     background-size: 470px;
    }

#logo{
    width: 230px;
    height: 163px;
}
/* titolo articolo */
h1{
    font-size: 41px;
}
/* informazioni */
aside{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #00ced1;
}
/* paragrafo articolo */
p{
    width: 50%;
}
/* lista articolo */
ul{
    padding-inline-start: 6px;
    list-style-position: inside;
}

/* tabella informativa */

table{
    width:54%;
    border-collapse:collapse;
}

th{
    text-align:left;
    background-color: #00A5DD;

    color:white;
    width: 50px;   
}

tr{
    background-color:#8BE4FF;        
}

/* footer */
.img1{
    background-image: url('../img/monitor.jpg');
    background-size: 300px 246px;
    width: 257px;
    height: 223px;
    background-repeat: no-repeat;
    color:white;
    font-size: 23px;
    font-weight: 1000;
    
}

.img2{
    background-image: url('../img/graph.jpg');
    background-size: 300px 246px;
    width: 257px;
    height: 223px;
    background-repeat: no-repeat;
    color:white;
    font-size: 23px;
    font-weight: 1000;
}



