/* generics */
body{
    margin:0;
    
}
.text-gray{
    color:gray;
}
.text-small{
    font-size:12px;
}

.margine{
    margin: 6px;
}



.container {
     background-color: #4ea1ff;
     height: 120px;
     background-image: url('../img/pattern.png');
     background-size: 470px;
    }

#logo{
    width: 230px;
    height: 163px;
}

h1{
    font-size: 41px;
}

aside{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #00ced1;
}

p{
    width: 50%;
}


